@page
@model WellnessGrocery.Pages.PurchaseHistorys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseHistory[0].PurchaseHistoryNumOrders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseHistory[0].PurchaseHistoryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseHistory[0].PurchaseHistoryPaymentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PurchaseHistory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseHistoryNumOrders)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseHistoryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseHistoryPaymentType)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PurchaseHistoryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PurchaseHistoryId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PurchaseHistoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
