@page
@model WellnessGrocery.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Inventory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Inventory.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.picture)
=======
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductOrder.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductInventory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductInventory.InventoryId)
>>>>>>> 3b671bcda0ec55ae50bffaa4dd2e059c5ceaadf0
        </dd>
    </dl>
    
    <form method="post">
<<<<<<< HEAD
        <input type="hidden" asp-for="Product.Id" />
=======
        <input type="hidden" asp-for="Product.ProductId" />
>>>>>>> 3b671bcda0ec55ae50bffaa4dd2e059c5ceaadf0
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
