@page
@model WellnessGrocery.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Inventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].picture)
=======
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductInventory)
>>>>>>> 3b671bcda0ec55ae50bffaa4dd2e059c5ceaadf0
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
<<<<<<< HEAD
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picture)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
=======
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductOrder.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInventory.InventoryId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
>>>>>>> 3b671bcda0ec55ae50bffaa4dd2e059c5ceaadf0
            </td>
        </tr>
}
    </tbody>
</table>
