@page
@model WellnessGrocery.Pages.Inventorys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> e81d8d9c89c79c993c9f52b7e8be95bededbb375
                @Html.DisplayNameFor(model => model.Inventory[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].Availablity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].Location)
<<<<<<< HEAD
=======
=======
                @Html.DisplayNameFor(model => model.Inventory[0].InventoryLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].InventoryProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].InventoryProductAvailablity)
>>>>>>> 3b671bcda0ec55ae50bffaa4dd2e059c5ceaadf0
>>>>>>> e81d8d9c89c79c993c9f52b7e8be95bededbb375
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inventory) {
        <tr>
            <td>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> e81d8d9c89c79c993c9f52b7e8be95bededbb375
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availablity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
<<<<<<< HEAD
=======
=======
                @Html.DisplayFor(modelItem => item.InventoryLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryProductQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryProductAvailablity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InventoryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InventoryId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InventoryId">Delete</a>
>>>>>>> 3b671bcda0ec55ae50bffaa4dd2e059c5ceaadf0
>>>>>>> e81d8d9c89c79c993c9f52b7e8be95bededbb375
            </td>
        </tr>
}
    </tbody>
</table>
